<h1><%= @user.username %>'s Profile</h1>

<%= form_for @user do |f| %>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username, required: true, minlength: 3 %><br>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %><br>
    <%= f.label :age, "age:" %>
    <%= f.number_field :age %><br>
    <%= f.label :location, "location:" %>
    <%= f.text_field :location %><br>
    
    <%= f.button "Edit Profile" %>
    
<% end %>