
<h1><%= @user.username %>'s Profile</h1>

<% if current_user.id == @user.id %>
    <%= form_for @user, method: "patch" do |f| %>
        <%= f.label :username, "Username:" %>
        <%= f.text_field :username, required: true, minlength: 3 %><br>
        <%= f.label :email, "Email:" %>
        <%= f.text_field :email %><br>
        <%= f.label :age, "age:" %>
        <%= f.number_field :age %><br>
        <%= f.label :location, "location:" %>
        <%= f.text_field :location %><br>
        <%= f.button "Update Profile" %>    
    <% end %>
    <%= button_to "Delete", user_path(@user), { method: "delete", data: {confirm: 'Are you sure?', disable_with: "Processing..."} }  %>
<% else %>
    <h5>Email: <%= @user.email %></h5><br>
    <h5>Age: <%= @user.age %></h5><br>
    <h5>Location: <%= @user.location %></h5><br>
<% end %>

<% if flash[:message] %>
    <h5><%= flash[:message] %></h5>
<% end %>

<h1><%= @user.username %>'s Dispatches</h1>
<% @user_dispatches.each do |dispatch| %>  
    <% if dispatch.url == nil %>       
        <h4><%= link_to dispatch.title, dispatch_path(dispatch) %></h4>
    <% else %>
       <h4><%= link_to dispatch.title, dispatch.url %></h4>
    <% end %>    
<% end %>

