<nav class="nav">
    <%= link_to "Home", root_path %> | 
    <%= link_to "Comments", "#" %>  
</nav>

<nav class="user_nav">
    <% unless logged_in? %>
        <%= link_to "Register", new_user_path %> | 
        <%= link_to "Login", new_session_path %>
    <% end %>

    <% if logged_in? %>
            <%= link_to "New Dispatch", new_dispatch_path %> | 
            <%= link_to "Profile", user_path(current_user) %> | 
            <%= link_to "Logout", sessions_path, method: :delete %>
    <% end %>
</nav>
