<h1><%= @dispatch.title %></h1><br><br>

<h2><%= @dispatch.description %></h2><br><br>

<% if current_user && current_user.id == @dispatch.user_id %>
    <%= button_to "Edit", edit_dispatch_path, method: "get" %>
    <%= button_to "Delete", dispatch_path(@dispatch), { method: "delete", data: {confirm: 'Are you sure?', disable_with: "Processing..."} }  %>
<% end %>

<% if flash[:message] %>
    <h3><%= flash[:message] %></h3>
<% end %>