<!DOCTYPE html>
<html>
  <head>
    <title>Security Dispatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <main>
  
    <header>
      <p>header section</p>
      <%= render "shared/navbar" %>
    </header>
       
    <section class="content">
      <p>content section</p>
      <%= yield %>
    </section>

    <section class="right_content">
      <p>right content section</p>
    </section>
      
    <footer>
      <p>footer section</p>
    </footer>

    </main>
    
  </body>

</html>
